
@import './variables.scss';

.about-section {
  padding: 60px 40px;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;

  @include media-breakpoint-down(md) {
    padding-top: 100px;
  }
}

.about-author {
  h1 {
    color: white;
    font-weight: 900;

    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }

  h4 {
    color: white;
    font-family: $cursive-font;
    font-size: 1.5rem;

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }

  .title {
    color: $primary;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: 1.3rem;
    width: 60%;
    padding-top: 16px;
    padding-left: 1rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid $primary; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em; /* Adjust as needed */
    animation:
      typing 4s steps(30, end),
      blink-caret 0.8s step-end infinite;

    @include media-breakpoint-down(sm) {
      font-size: 0.8rem;
      width: 90%;
    }
  }

  .info {
    font-family: $cursive-font;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-top: 30px;
    width: 60%;
    margin: 0 auto;
    color: $whitish;

    @include media-breakpoint-down(sm) {
      font-size: 1.3rem;
      width: 95%;
    }
  }

  .social-icons {
    padding-top: 40px;
    display: block;
    width: 100%;

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        display: inline-block;
        padding: 0 16px;

        a {
          font-size: 30px;
          color: #ddd;

          &:hover {
            color: $primary;
          }

          @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
          }
        }

        @include media-breakpoint-down(sm) {
          padding: 0 8px;
        }
      }
    }
  }
}
