@import 'variables.scss';

.blog-item {
  background-color: $header-bg;
  margin-bottom: 30px;
  border-radius: 10px;

  a {
    color: $white;
    font-size: 1.5rem;

    &:hover {
      color: white;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
    }
  }

  .blog-image {
    height: 300px;
    width: 45%;
    border-radius: 10px 0 0 10px;

    @include media-breakpoint-down(md) {
      border-radius: 10px 10px 0 0;
    }

    @include media-breakpoint-down(sm) {
      height: 200px;
    }
  }

  .blog-info {
    padding: 10px 30px;

    .blog-desc {
      color: $whitish;
      text-align: justify;
      font-family: $font-primary;
      font-size: 0.9rem;
      padding-top: 10px;

      @include media-breakpoint-down(sm) {
        font-size: 0.8rem;
      }
    }

    .blog-meta {
      p {
        color: $grayish;
        text-transform: uppercase;
        font-weight: lighter;
        padding-top: 20px;

        @include media-breakpoint-down(sm) {
          font-size: 0.6rem;
        }
      }
    }
  }
}

.link-btn {
  border-radius: 50%;
  padding: 5px 16px;
}
