@import 'variables.scss';

.skill-item {
    background-color: $background-2;
    box-shadow: 0 0 36px rgba(1, 15, 29, 0.616);
    margin: 20px auto;
    border-radius: 10px;
    padding: 30px 10px;

    h2 {
      text-align: center;
      color: $white;
      border-bottom: 1px solid $background;
    }

  .skill-list {
    font-family: $font-primary;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    // grid-gap: 10px 10px;
    gap: 20px;
    grid-auto-flow: column;
    justify-content: center;
    padding-top: 10px;

    .skill {
      padding: 10px;

      img {
        height: 100px;
      }

      p {
        color: $whitish;
        text-align: center;
        padding-top: 4px;
      }
    }
  }
}